<div class="chart-card">
  <div class="chart-header">
    <div class="chart-header__title">Active Users</div>
    <div class="chart-header__right-now-section">
      Right now
      <div class="expand-icon">
        <img src="assets/icons/arrow-down.svg" />
      </div>
    </div>
  </div>

  <div class="chart-body">
    <div class="chart-body__users-amount">
      18
    </div>
    <div class="chart-body__amount-label">
      Page views per minute
    </div>
  </div>

  <highcharts-chart
    [Highcharts]="highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 200px; display: block;"
  >
  </highcharts-chart>

  <div class="chart-card--reference">
    <div class="chart-card--reference__button">
      Real-Time Report
    </div>
  </div>
</div>
