<div class="main-navigation-container">
  <div class="top-section">
    <div class="icon-contianer">
      <img src="assets/icons/icon.svg" alt="" />
      <div class="small-hint">creating studio</div>
    </div>

    <ng-container *ngFor="let item of navigationItems">
      <div
        class="icon-contianer"
        (click)="selectItem(item)"
        [ngClass]="{ selected: currentRoute === '/webar/' + item.route }"
      >
        <img
          [src]="
            'assets/icons' +
            (currentRoute === '/webar/' + item.route ? '/' : '/unselected-') +
            item.icon
          "
        />
      </div>
    </ng-container>
  </div>
  <div class="bottom-section"></div>
</div>
