<!-- <app-navigation></app-navigation> -->

<div class="app-contianer">
  <div class="navigation-container">
    <app-main-navigation></app-main-navigation>
    <div
      class="toggle-button"
      (click)="changeDrawerState('open')"
      *ngIf="drawerClosed"
    >
      <img src="assets/icons/icon-arroe-left.svg" class="rotate-arrow" />
    </div>
  </div>
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
      <div class="items-container"></div>
    </mat-drawer>

    {{ drawer }}

    <div
      class="toggle-button"
      (click)="changeDrawerState('close')"
      *ngIf="!drawerClosed"
    >
      <img src="assets/icons/icon-arroe-left.svg" />
    </div>
  </mat-drawer-container>
</div>
