@import 'variables.scss';

.webar-button {
  border-radius: 5px;
  padding: 9px 28px;
  font-weight: 600;
  border: 1px solid $primary;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 6px 6px -2px rgb(226, 226, 226);
  }
  &:active {
    box-shadow: 0px 4px 4px -2px rgb(226, 226, 226);
    transform: translateY(1px);
  }

  &--primary {
    background: $primary;
    color: $pure-white;
  }

  &--secondary {
    background: $pure-white;
    color: $primary;
  }
}

.line {
  height: 1px;
  background: #e3e7f2;
}

.expand-icon {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  border-radius: 2px;
  background-color: #f0f2f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chart-card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px -5px rgba(143, 154, 171, 0.15);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &--reference {
    position: relative;
    padding-top: 25px;
    &__button {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #7e95fb;
      font-size: 13px;
      cursor: pointer;
    }
  }
}
