<div class="chart-card">
  <div class="chart-header">
    <div class="chart-header__title">Users by time of day</div>
    <div class="chart-header__right-now-section">
      Last 30 days
      <div class="expand-icon">
        <img src="assets/icons/arrow-down.svg" />
      </div>
    </div>
  </div>

  <div class="chart">
    <div class="chart__column-wrapper">
      <div class="chart__column" *ngFor="let column of chart">
        <div class="chart__column-item" *ngFor="let item of column.time" [style.background]="item.workTime"></div>
        <div class="item-data-label">{{ column.day }}</div>
      </div>
      <div class="chart__column">
        <div class="column-data-label">12 am</div>
        <div class="column-data-label">2 am</div>
        <div class="column-data-label">4 am</div>
        <div class="column-data-label">6 am</div>
        <div class="column-data-label">8 am</div>
        <div class="column-data-label">10 am</div>
        <div class="column-data-label">12 pm</div>
        <div class="column-data-label">2 pm</div>
        <div class="column-data-label">4 pm</div>
        <div class="column-data-label">6 pm</div>
        <div class="column-data-label">8 pm</div>
        <div class="column-data-label">10 pm</div>
      </div>
    </div>
  </div>
</div>
