<div class="user-panel-container">
  <div class="serach-container">
    <img src="assets/icons/search.svg" />
    <input type="text" placeholder="Type something for searchng" />
  </div>

  <div class="user-info-container">
    <img src="assets/icons/bell.svg" class="bell" alt="" />
    <img class="user-photo" src="assets/images/user-photo.jpeg" />
    <div class="select-container">
      Kamila Peterson
      <img src="assets/icons/arrow-down.svg" class="arrow-down" />
    </div>
  </div>
</div>

<div class="line"></div>
