.header {
  padding: 10px;
  .title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #616b88;
    margin: 22px 0px;
  }

  .subtitle {
    font-size: 11px;
    letter-spacing: -0.23px;
    color: #7e88a9;
    text-transform: uppercase;
  }

  .today {
    font-size: 16px;
    letter-spacing: -0.33px;
    color: #616b88;
  }

  .today-text-container {
    display: flex;
    align-items: center;
    margin: 8px 0px 22px;
    &__text {
      font-size: 16px;
      font-weight: 600px;
      letter-spacing: -0.33px;
      color: #616b88;
    }
  }
}

.dashboard-items-container {
  .dashboard-item {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    &:first-child {
      margin-top: 15px;
    }
    .icon-wrapper {
      width: 46px;
      display: flex;
      justify-content: center;
    }
    &__text {
      margin-left: 20px;
      .data {
        font-size: 24px;
        font-weight: bold;
        line-height: 0.75;
        letter-spacing: 0.5px;
        color: #616b88;
      }
      .data-label {
        font-size: 13px;
        font-weight: normal;
        letter-spacing: -0.27px;
        color: #7e88a9;
        margin-top: 5px;
      }
    }
  }
}
