<div class="header">
  <div class="title">
    Dashboard
  </div>
  <div class="subtitle">
    General statistic for
  </div>
  <div class="today-text-container">
    <div class="today-text-container__text">
      Today
    </div>
    <div class="expand-icon">
      <img src="assets/icons/arrow-down.svg" />
    </div>
  </div>
</div>

<div class="line"></div>

<div class="dashboard-items-container">
  <div class="dashboard-item">
    <div class="icon-wrapper">
      <img class="dashboard-item__icon" src="assets/icons/icon-viewers.svg" />
    </div>
    <div class="dashboard-item__text">
      <div class="data">4113</div>
      <div class="data-label">Active Viewers</div>
    </div>
  </div>

  <div class="dashboard-item">
    <div class="icon-wrapper">
      <img class="dashboard-item__icon" src="assets/icons/icon-projects.svg" />
    </div>
    <div class="dashboard-item__text">
      <div class="data">312</div>
      <div class="data-label">Total projects</div>
    </div>
  </div>

  <div class="dashboard-item">
    <div class="icon-wrapper">
      <img class="dashboard-item__icon" src="assets/icons/icon-view.svg" />
    </div>
    <div class="dashboard-item__text">
      <div class="data">2790</div>
      <div class="data-label">Views per Day</div>
    </div>
  </div>

  <div class="dashboard-item">
    <div class="icon-wrapper">
      <img class="dashboard-item__icon" src="assets/icons/icon-time.svg" />
    </div>
    <div class="dashboard-item__text">
      <div class="data">14 min</div>
      <div class="data-label">Session Length</div>
    </div>
  </div>

  <div class="dashboard-item">
    <div class="icon-wrapper">
      <img class="dashboard-item__icon" src="assets/icons/icon-graphic.svg" />
    </div>
    <div class="dashboard-item__text">
      <div class="data">90%</div>
      <div class="data-label">Retention Rate</div>
    </div>
  </div>
</div>
